.contenedor-general-empresa {
  padding: 4% 6%;
  margin: 0 auto;
  background-color: #fff;
}

.contenedor-general-empresa p.encabezado {
  color: #f19107;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.contenedor-general-empresa p.desc {
  color: #999999;
  font-size: 15px;
  margin: 0;
  font-weight: lighter;
}

.contenedor-general-empresa .contenedor-mision-vision {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-empresa .contenedor-mision-vision .cont-info {
  width: 63%;
  margin-right: 35px;
}

.contenedor-general-empresa .contenedor-mision-vision .cont-info .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-empresa .contenedor-mision-vision .cont-info .item img {
  width: 130px;
  /*19.5*/
}

.contenedor-general-empresa .contenedor-mision-vision .cont-info .item div {
  margin-left: 50px;
}

.contenedor-general-empresa .contenedor-mision-vision .cont-info .item div p.tit {
  color: #f19107;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
}

.contenedor-general-empresa .contenedor-mision-vision .cont-info .item div p.desc {
  color: #999999;
  font-size: 15px;
  margin: 0;
  font-weight: lighter;
}

.contenedor-general-empresa .contenedor-mision-vision .cont-info .item:first-child {
  margin-bottom: 95px;
}

.contenedor-general-empresa .contenedor-mision-vision .cont-img {
  width: 37%;
}

.contenedor-general-empresa .contenedor-mision-vision .cont-img img {
  width: 100%;
  max-width: 500px;
}
