* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-weight: normal;
}

body {
  background-color: #edf1f4;
}

a {
  text-decoration: none;
}

div.wpcf7 .ajax-loader {
  position: absolute;
  top: 30px;
  left: 0;
}

@media screen and (min-width: 320px) {
  .wpcf7-not-valid-tip,
  span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: .7rem;
    font-weight: normal;
    position: absolute;
  }
}

@media screen and (min-width: 990px) {
  .wpcf7-not-valid-tip,
  span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: .7rem;
    font-weight: normal;
    display: block;
    padding: 5px 0;
    position: absolute;
    top: 90%;
  }
}

.wrapper-content {
  padding: 2% 6%;
}

.wrapper-page-content {
  padding: 0 6%;
}

.banner {
  height: 630px;
  background-position: center;
  background-size: cover;
  position: relative;
  -webkit-perspective: 2px;
          perspective: 2px;
}

.banner::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../img/banner-sombra.png");
  background-size: cover;
}

.banner .banner-tit {
  color: white;
  padding-top: 160px;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2;
}

.banner-blog {
  height: 100vh;
  max-height: 455px;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-blog .banner-tit {
  color: white;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container,
  .blog .pagination-container {
    width: 100%;
    height: auto;
    display: block;
    margin: 15px 0;
    padding: 10px 0;
    position: relative;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container,
  .blog .pagination-container .button-container {
    text-align: center;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item,
  .blog .pagination-container .button-container .item {
    padding: 5px 20px;
    color: white;
    font-size: 15px;
    margin: 0 5px;
    background-color: #ff9900;
    text-transform: uppercase;
    position: relative;
    border: 1px solid #ff9900;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.current,
  .blog .pagination-container .button-container .item.current {
    background-color: #fff;
    color: #ff9900;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item, .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item:before,
  .blog .pagination-container .button-container .item,
  .blog .pagination-container .button-container .item:before {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item:hover,
  .blog .pagination-container .button-container .item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #fff;
    color: #ff9900;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.next,
  .blog .pagination-container .button-container .item.next {
    padding-right: 25px;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.next:hover:before,
  .blog .pagination-container .button-container .item.next:hover:before {
    background-image: url("../img/right-color.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.next:before,
  .blog .pagination-container .button-container .item.next:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url("../img/right-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    right: 4px;
    top: 4px;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.prev,
  .blog .pagination-container .button-container .item.prev {
    padding-left: 25px;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.prev:hover:before,
  .blog .pagination-container .button-container .item.prev:hover:before {
    background-image: url("../img/left-color.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.prev:before,
  .blog .pagination-container .button-container .item.prev:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url("../img/left-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 4px;
    top: 4px;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination,
  .blog .pagination-container .pagination {
    margin: 15px auto;
    width: 300px;
    height: 30px;
    top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container,
  .blog .pagination-container .pagination .page-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 30px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button,
  .blog .pagination-container .pagination .page-button-container .button {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    background-color: #ff9900;
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid #ff9900;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button:hover,
  .blog .pagination-container .pagination .page-button-container .button:hover {
    background-color: #fff;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button.prev,
  .blog .pagination-container .pagination .page-button-container .button.prev {
    background-image: url("../img/left-white.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button.prev:hover,
  .blog .pagination-container .pagination .page-button-container .button.prev:hover {
    background-image: url("../img/left-color.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button.next,
  .blog .pagination-container .pagination .page-button-container .button.next {
    background-image: url("../img/right-white.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button.next:hover,
  .blog .pagination-container .pagination .page-button-container .button.next:hover {
    background-image: url("../img/right-color.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .numbered,
  .blog .pagination-container .pagination .page-button-container .numbered {
    width: 40px;
    height: 26px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #999999;
    background-color: #fff;
    color: #999999;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .total-number,
  .blog .pagination-container .pagination .total-number {
    color: #999999;
    font-size: 12px;
    margin: 0px 4px;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .total-number span,
  .blog .pagination-container .pagination .total-number span {
    font-size: 16px;
    font-weight: bold;
  }
  .wrapper-content .rpwe-block ul {
    list-style: none !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .wrapper-content .rpwe-block li {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    list-style-type: none;
  }
  .wrapper-content .rpwe-block a {
    display: inline !important;
    text-decoration: none;
    color: #ff9900;
  }
  .wrapper-content .rpwe-block h3 {
    background: none !important;
    clear: none;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.6em;
    color: #ff9900;
  }
  .wrapper-content .rpwe-thumb {
    border: 1px solid #eee !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    margin: 2px 10px 2px 0;
    padding: 3px !important;
  }
  .wrapper-content .rpwe-summary {
    font-size: 12px;
  }
  .wrapper-content .rpwe-time {
    color: #bbb;
    font-size: 11px;
  }
  .wrapper-content .rpwe-comment {
    color: #bbb;
    font-size: 11px;
    padding-left: 5px;
  }
  .wrapper-content .rpwe-alignleft {
    display: inline;
    float: left;
  }
  .wrapper-content .rpwe-alignright {
    display: inline;
    float: right;
  }
  .wrapper-content .rpwe-aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper-content .rpwe-clearfix:before,
  .wrapper-content .rpwe-clearfix:after {
    content: "";
    display: table !important;
  }
  .wrapper-content .rpwe-clearfix:after {
    clear: both;
  }
  .wrapper-content .rpwe-clearfix {
    zoom: 1;
  }
  .wrapper-content.blog {
    background-color: #fff;
  }
  .wrapper-content.blog .post {
    margin: 40px 0;
    margin-bottom: 50px;
  }
  .wrapper-content.blog .post .column:first-child {
    text-align: center;
  }
  .wrapper-content.blog .post .column img {
    width: 100%;
    height: auto;
    max-width: 200px;
  }
  .wrapper-content.blog .post .column .content .post-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #ff9900;
  }
  .wrapper-content.blog .post .column .content .desc {
    padding: 10px 0;
    margin-bottom: 0px;
    color: #909090;
  }
  .wrapper-content.blog .post .column .content .leermas {
    border: 1px solid #ff9900;
    padding: 8px 0px;
    border-radius: 18px;
    text-transform: capitalize;
    background-color: #ff9900;
    font-size: 12px;
    text-align: center;
    color: #fff;
    width: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .wrapper-content .single-blogpost-container .column .top-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper-content .single-blogpost-container .column .top-title .date-circle {
    width: 45px;
    height: 45px;
    padding: 15px;
    background-color: #ececec;
    border-radius: 40px;
    font-weight: bold;
    margin: 10px 0;
    margin-right: 20px;
  }
  .wrapper-content .single-blogpost-container .column .top-title .date-circle .day {
    color: #555555;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
  .wrapper-content .single-blogpost-container .column .top-title .date-circle .month {
    color: #555555;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  .wrapper-content .single-blogpost-container .column .top-title .title {
    color: #ff9900;
    font-weight: bold;
    width: 600px;
    font-size: 18px;
    line-height: 20px;
  }
  .wrapper-content .single-blogpost-container .column .post-content {
    margin: 20px 0;
  }
  .wrapper-content .single-blogpost-container .column .post-content .main-img img {
    width: 100%;
  }
  .wrapper-content .single-blogpost-container .column .post-content .content {
    color: #909090;
    line-height: 26px;
    font-size: 14px;
  }
  .wrapper-content .single-blogpost-container .column #post-sidebar {
    margin-top: 75px;
  }
  .wrapper-content .single-blogpost-container .column #post-sidebar .widget-title {
    font-size: 16px;
    color: #909090;
  }
}

@media screen and (min-width: 990px) {
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container,
  .blog .pagination-container {
    width: 100%;
    height: 20px;
    display: block;
    margin: 15px 0;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item,
  .blog .pagination-container .button-container .item {
    padding: 2px 10px;
    color: white;
    font-size: 12px;
    background-color: #ff9900;
    text-transform: uppercase;
    position: relative;
    border: 1px solid #ff9900;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item, .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item:before,
  .blog .pagination-container .button-container .item,
  .blog .pagination-container .button-container .item:before {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item:hover,
  .blog .pagination-container .button-container .item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #fff;
    color: #ff9900;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.next,
  .blog .pagination-container .button-container .item.next {
    padding-right: 25px;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.next:hover:before,
  .blog .pagination-container .button-container .item.next:hover:before {
    background-image: url("../img/right-color.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.next:before,
  .blog .pagination-container .button-container .item.next:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url("../img/right-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    right: 4px;
    top: 4px;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.prev,
  .blog .pagination-container .button-container .item.prev {
    padding-left: 25px;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.prev:hover:before,
  .blog .pagination-container .button-container .item.prev:hover:before {
    background-image: url("../img/left-color.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .button-container .item.prev:before,
  .blog .pagination-container .button-container .item.prev:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url("../img/left-white.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 4px;
    top: 4px;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination,
  .blog .pagination-container .pagination {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 20px;
    margin: 0;
    top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container,
  .blog .pagination-container .pagination .page-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button,
  .blog .pagination-container .pagination .page-button-container .button {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    background-color: #ff9900;
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid #ff9900;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button:hover,
  .blog .pagination-container .pagination .page-button-container .button:hover {
    background-color: #fff;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button.prev,
  .blog .pagination-container .pagination .page-button-container .button.prev {
    background-image: url("../img/left-white.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button.prev:hover,
  .blog .pagination-container .pagination .page-button-container .button.prev:hover {
    background-image: url("../img/left-color.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button.next,
  .blog .pagination-container .pagination .page-button-container .button.next {
    background-image: url("../img/right-white.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .button.next:hover,
  .blog .pagination-container .pagination .page-button-container .button.next:hover {
    background-image: url("../img/right-color.png");
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .page-button-container .numbered,
  .blog .pagination-container .pagination .page-button-container .numbered {
    width: 40px;
    height: 18px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #999999;
    background-color: #fff;
    color: #999999;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .total-number,
  .blog .pagination-container .pagination .total-number {
    color: #999999;
    font-size: 12px;
    margin: 0px 4px;
  }
  .product-container .sliders-container .slider-tabs-content .tab .pagination-container .pagination .total-number span,
  .blog .pagination-container .pagination .total-number span {
    font-size: 16px;
    font-weight: bold;
  }
  .wrapper-content .rpwe-block ul {
    list-style: none !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .wrapper-content .rpwe-block li {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    list-style-type: none;
  }
  .wrapper-content .rpwe-block a {
    display: inline !important;
    text-decoration: none;
    color: #ff9900;
  }
  .wrapper-content .rpwe-block h3 {
    background: none !important;
    clear: none;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    font-weight: 900;
    font-size: 12px !important;
    line-height: 1.6em;
    color: #ff9900;
  }
  .wrapper-content.blog {
    background-color: #fff;
  }
  .wrapper-content.blog .post {
    margin: 40px 0;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .wrapper-content.blog .post .column {
    width: 50%;
  }
  .wrapper-content.blog .post .column:first-child {
    text-align: center;
  }
  .wrapper-content.blog .post .column img {
    width: 90%;
    height: auto;
    max-width: 500px;
  }
  .wrapper-content.blog .post .column .content .post-title {
    font-size: 20px;
    font-weight: bold;
    color: #ff9900;
  }
  .wrapper-content.blog .post .column .content .desc {
    padding: 20px 0;
    margin-bottom: 20px;
    color: #909090;
  }
  .wrapper-content.blog .post .column .content .leermas {
    border: 1px solid #c2c2c2;
    padding: 8px 10px;
    border-radius: 18px;
    text-transform: capitalize;
    font-size: 12px;
    text-align: center;
    color: #c2c2c2;
    width: 100px;
    background-color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .wrapper-content.blog .post .column .content .leermas:hover {
    background-color: #ff9900;
    border: 1px solid #ff9900;
    color: white;
  }
  .wrapper-content .single-blogpost-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .wrapper-content .single-blogpost-container .column:first-child {
    width: 65%;
  }
  .wrapper-content .single-blogpost-container .column:last-child {
    width: 35%;
  }
  .wrapper-content .single-blogpost-container .column .top-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper-content .single-blogpost-container .column .top-title .date-circle {
    width: 45px;
    height: 45px;
    padding: 15px;
    background-color: #ececec;
    border-radius: 40px;
    font-weight: bold;
    margin: 10px 0;
    margin-right: 20px;
  }
  .wrapper-content .single-blogpost-container .column .top-title .date-circle .day {
    color: #555555;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
  .wrapper-content .single-blogpost-container .column .top-title .date-circle .month {
    color: #555555;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  .wrapper-content .single-blogpost-container .column .top-title .title {
    color: #ff9900;
    font-weight: bold;
    width: 600px;
    font-size: 22px;
    line-height: 32px;
  }
  .wrapper-content .single-blogpost-container .column .post-content {
    margin: 20px 0;
  }
  .wrapper-content .single-blogpost-container .column .post-content .main-img img {
    width: 100%;
  }
  .wrapper-content .single-blogpost-container .column .post-content .content {
    color: #909090;
    line-height: 26px;
    font-size: 14px;
  }
  .wrapper-content .single-blogpost-container .column #post-sidebar {
    margin-top: 75px;
    padding-left: 40px;
  }
  .wrapper-content .single-blogpost-container .column #post-sidebar .widget-title {
    font-size: 16px;
    color: #909090;
  }
}
