@import 'variables';
// home
@keyframes active {
    0% {
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1 !important;
    }
}

@media screen and (min-width: 320px) {
    .home-wrapper {
        padding: 0;
        background-color: #fff;
        position: relative;
        &.alternate {
            // background-color: #edf1f4;
            &:before {
                content: '';
                background-image: none;
                height: 0;
                width: 0;
            }
            .title-section {
                display: none;
            }
        }
        .home-social {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 80px 0;
            padding-bottom: 0;
            .item {
                width: 70px;
                height: 70px;
                background-color: $accent-color;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px 15px;
                img {
                    width: 50%;
                }
            }
        }
        .title-section {
            text-align: center;
            font-weight: 600;
            font-size: 25px;
            color: $title-color;
            padding-bottom: 54px;
            text-transform: uppercase;
            padding-top: 95px;
        }
        .sliders-container {
            padding: 0 6%;
            .slider-tabs {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                padding: 73px 0;
                padding-bottom: 60px;
                border-top: 1px solid #dcdcdc;
                position: relative;
                border-bottom: 1px solid #dcdcdc;
                .active-bar {
                    display: none;
                }
                .home-carousel-tabs {
                    .owl-dots {
                        button {
                            span {
                                width: 40px;
                                height: 4px;
                                border-radius: 0;
                                margin: 2px 5px;
                            }
                        }
                    }
                }
                .item {
                    flex: 0 0 20%;
                    text-align: center;
                    position: relative;
                    cursor: pointer;
                    img {
                        // max-height: 24.8px;
                        width: 80%;
                        margin: 0 auto;
                    }
                }
            }
            .slider-tabs-content {
                .tab {
                    display: none;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 80px 0;
                    position: relative;
                    transition-delay: all 0.3s;
                    &.active {
                        transition-delay: all 0.3s;
                        display: block;
                    }
                    .item {
                        width: 24%;
                        box-shadow: 3px 2px 4px 1px #dcdcdc;
                        transition: $time;
                        &:hover {
                            box-shadow: 3px 2px 4px 1px #acabab;
                            .img-container {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                        .img-container {
                            background-image: url('../img/tab-bg.jpg');
                            background-position: center;
                            background-size: cover;
                            min-height: 350px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 20px 10px;
                            -ms-transition: background-size 2s ease-in;
                            -o-transition: background-size 2s ease-in;
                            -webkit-transition: background-size 2s ease-in;
                            -moz-transition: background-size 2s ease-in;
                            transition: background-size 2s ease-in;
                            img {
                                transition: $time;
                                width: 50%;
                                max-width: 200px;
                            }
                        }
                        .text {
                            background-color: #0065bd;
                            color: white;
                            padding: 20px 12px 15px 12px;
                            .title {
                                text-align: center;
                                font-weight: bold;
                                font-size: 20px;
                                text-transform: uppercase;
                            }
                            .description {
                                display: none;
                            }
                        }
                    }
                    .home-carousel {
                        .item {
                            margin: 0 auto;
                            width: 100%;
                        }
                        .owl-nav {
                            top: calc(50% - 30px);
                            width: 100%;
                            position: absolute;
                            display: flex;
                            justify-content: space-between;
                            &.disabled {
                                display: none;
                            }
                            button {
                                width: 40px;
                                height: 40px;
                                border: 3px solid #727270;
                                border-radius: 50%;
                                color: #727270;
                                font-size: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                    a {
                        margin-left: auto;
                        .ver-mas {
                            background-color: #ff9900;
                            color: white;
                            text-align: center;
                            text-transform: uppercase;
                            padding: 5px 15px;
                            padding-right: 30px;
                            font-size: 14px;
                            font-weight: 300;
                            margin: 0 auto;
                            margin-top: 30px;
                            position: relative;
                            transition: $time;
                            border: 1px solid $accent-color;
                            &::before {
                                content: '';
                                position: absolute;
                                background-image: url('../img/right-white.png');
                                background-position: center left;
                                background-size: contain;
                                background-repeat: no-repeat;
                                position: absolute;
                                width: 12px;
                                height: 12px;
                                right: 35%;
                                top: 8px;
                                transition: $time;
                            }
                        }
                    }
                }
            }
        }
        .grid-container-desktop {
            display: none;
        }
        .grid-container-mobile {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            .item-cell {
                flex: 1 0 50%;
                position: relative;
                min-height: 30vh;
                background-size: cover;
                background-position: center;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                .cover {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(white, 0.8);
                    background: linear-gradient(189deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 1) 80%);
                }
                &:nth-child(1),
                &:nth-child(4),
                &:nth-child(5) {
                    .cover {
                        background-color: rgba($accent-color, 0.8);
                        background: linear-gradient(189deg, rgba(rgba($accent-color, 0), 0) 0%, rgba($accent-color, 1) 80%);
                    }
                    .content {
                        .title {
                            margin: 20px;
                            text-transform: uppercase;
                            font-size: 18px;
                            color: #fff;
                            position: relative;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 1px;
                                left: 0;
                                bottom: -2px;
                                background-color: #fff;
                                position: absolute;
                            }
                        }
                    }
                }
                &:last-child {
                    align-items: flex-start;
                    .cover {
                        background-color: rgba($accent-color, 1);
                    }
                    .content {
                        padding: 20px;
                        width: 100%;
                        h1,
                        h2,
                        h3,
                        h4 {
                            text-align: center;
                            color: #fff;
                            text-transform: uppercase;
                        }
                        .desc {
                            color: white;
                            font-size: 10px;
                            text-align: center;
                            width: 70%;
                            margin: 0 auto;
                        }
                        .img-container {
                            text-align: center;
                            .main-img-blog {
                                width: 70%;
                                margin: 40px auto;
                                margin-bottom: 60px;
                            }
                        }
                        .vermas {
                            padding: 10px 15px;
                            color: #fff;
                            text-transform: uppercase;
                            font-size: 11px;
                            font-weight: 300;
                            width: 83px;
                            margin: 0 auto;
                            margin-top: 50px;
                            position: relative;
                            border: 1px solid white;
                            transition: $time;
                            &::after {
                                content: '';
                                background-image: url('../img/right-color_2.png');
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                                width: 15px;
                                height: 18px;
                                position: absolute;
                                top: 8px;
                                font-size: 20px;
                                font-weight: 300;
                                right: 8px;
                            }
                            &::before {
                                content: '';
                                background-color: #fff;
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                                width: 35px;
                                height: 35px;
                                position: absolute;
                                top: 0px;
                                font-size: 20px;
                                font-weight: 300;
                                right: 0;
                            }
                        }
                    }
                }
                .content {
                    z-index: 1;
                    .title {
                        margin: 20px;
                        text-transform: uppercase;
                        font-size: 18px;
                        color: $accent-color;
                        position: relative;
                        &::before {
                            content: '';
                            width: 100%;
                            height: 1px;
                            left: 0;
                            bottom: -2px;
                            background-color: $accent-color;
                            position: absolute;
                        }
                    }
                }
            }
        }
        .contact-container {
            padding-bottom: 80px;
            background-color: #fff;
            display: flex;
            flex-direction: column-reverse;
            .column {
                flex: 1 0 100%;
                min-height: 400px;
                background-color: #fff;
                .form {
                    padding: 50px 30px;
                    .title {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 25px;
                        color: $accent-color;
                        margin-bottom: 20px;
                        text-align: center;
                    }
                    .form-row {
                        margin-bottom: 10px;
                        .form-input {
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-bottom: 10px;
                            background-color: #f5f5f5;
                            .icon {
                                width: 15px;
                                height: 15px;
                                margin-left: 10px;
                                background-size: contain;
                                background-repeat: no-repeat;
                                &.person {
                                    background-image: url('../img/icon-person.png');
                                }
                                &.mail {
                                    background-image: url('../img/icon-mail.png');
                                }
                                &.phone {
                                    background-image: url('../img/icon-phone.png');
                                }
                            }
                            input {
                                padding: 5px;
                                height: 30px;
                                background-color: transparent;
                                border: none;
                                font-size: 15px;
                                font-weight: 300;
                                width: 100%;
                            }
                        }
                        textarea {
                            border: none;
                            background-color: #f5f5f5;
                            width: calc(100% - 30px);
                            padding: 10px 15px;
                            font-size: 15px;
                            font-weight: 300;
                        }
                        .privacy {
                            font-size: 11px;
                            color: #979797;
                        }
                        input[type="submit"] {
                            color: white;
                            border: none;
                            border-radius: 6px;
                            padding: 7px 30px;
                            font-size: 18px;
                            text-transform: uppercase;
                            margin: 0 auto;
                            background-color: $accent-color;
                            border: 1px solid $accent-color;
                            border-bottom: 1px solid $accent-alternate;
                            transition: $time;
                            width: 100%;
                            box-sizing: border-box;
                            cursor: pointer;
                            &:hover {
                                color: $accent-color;
                                background-color: #fff;
                            }
                        }
                    }
                }
                iframe {
                    height: 60vh;
                }
            }
        }
    }
}

@media screen and (min-width: 990px) {
    .home-wrapper {
        padding: 0 6%;
        background-color: #fff;
        position: relative;
        &:before {
            content: '';
            bottom: -100px;
            left: 0;
            width: 100%;
            height: 100px;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../img/wrapper-bottom.png');
            z-index: 1;
        }
        &.alternate {
            background-color: #edf1f4;
            &:before {
                content: '';
                background-image: none;
                height: 0;
                width: 0;
            }
            .title-section {
                display: block;
            }
        }
        .home-social {
            display: none;
        }
        .title-section {
            text-align: center;
            font-weight: 900;
            font-size: 30px;
            color: $title-color;
            padding-bottom: 54px;
            padding-top: 95px;
        }
        .sliders-container {
            .slider-tabs {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                padding: 73px 0;
                border-top: 1px solid #dcdcdc;
                position: relative;
                border-bottom: 1px solid #dcdcdc;
                .active-bar {
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: -6px;
                    background-color: #ff9900;
                    height: 5px;
                    width: 20%;
                }
                .item {
                    flex: 0 0 20%;
                    text-align: center;
                    position: relative;
                    cursor: pointer;
                    img {
                        // max-height: 24.8px;
                        width: 80%;
                    }
                }
            }
            .slider-tabs-content {
                .tab {
                    display: none;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 80px 0;
                    position: relative;
                    &.active {
                        animation-name: active;
                        animation-duration: .8s;
                        animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                        animation-iteration-count: 1;
                    }
                    .item {
                        width: 24%;
                        box-shadow: 3px 2px 4px 1px #dcdcdc;
                        transition: $time;
                        &:hover {
                            box-shadow: 3px 2px 4px 1px #acabab;
                            .img-container {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                        .img-container {
                            background-image: url('../img/tab-bg.jpg');
                            background-position: center;
                            background-size: cover;
                            min-height: 300px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 20px 10px;
                            -ms-transition: background-size 2s ease-in;
                            -o-transition: background-size 2s ease-in;
                            -webkit-transition: background-size 2s ease-in;
                            -moz-transition: background-size 2s ease-in;
                            transition: background-size 2s ease-in;
                            img {
                                transition: $time;
                                width: 80%;
                                max-width: 200px;
                            }
                        }
                        .text {
                            background-color: #0065bd;
                            color: white;
                            padding: 20px 12px 15px 12px;
                            .title {
                                font-weight: normal;
                                font-size: 20px;
                                text-align: left;
                                text-transform: uppercase;
                            }
                            .description {
                                display: block;
                                font-weight: thin;
                                font-size: 12px;
                                text-align: left;
                            }
                        }
                    }
                    a {
                        .ver-mas {
                            background-color: #ff9900;
                            color: white;
                            text-transform: uppercase;
                            padding: 2px 15px;
                            padding-right: 30px;
                            font-size: 14px;
                            font-weight: 300;
                            margin-top: 30px;
                            margin-right: 0px;
                            position: relative;
                            transition: $time;
                            border: 1px solid $accent-color;
                            width: 70px;
                            &::before {
                                content: '';
                                position: absolute;
                                background-image: url('../img/right-white.png');
                                background-position: center left;
                                background-size: contain;
                                background-repeat: no-repeat;
                                position: absolute;
                                width: 12px;
                                height: 12px;
                                right: 5px;
                                top: 5.5px;
                                transition: $time;
                            }
                            &:hover {
                                background-color: #fff;
                                color: $accent-color;
                                &::before {
                                    background-image: url('../img/right-color.png');
                                }
                            }
                        }
                    }
                }
            }
        }
        .grid-container-mobile {
            display: none;
        }
        .grid-container-desktop {
            padding: 0px 5%;
            display: block;
            .row {
                display: flex;
                .column {
                    overflow: hidden;
                    min-height: 350px;
                    background-size: cover;
                    background-position: right;
                    background-repeat: no-repeat;
                    perspective: 200px;
                    padding: 40px 30px;
                    box-sizing: border-box;
                    &:first-child {
                        width: 60%;
                    }
                    &:last-child {
                        width: 40%;
                    }
                    .title {
                        color: white;
                        font-weight: bold;
                        font-size: 30px;
                        text-transform: uppercase;
                    }
                    .description {
                        max-width: 380px;
                        font-size: 16px;
                        color: white;
                    }
                    .vermas {
                        background-color: #fff;
                        padding: 10px 15px;
                        color: #ff9900;
                        text-transform: uppercase;
                        font-size: 10px;
                        font-weight: 300;
                        width: 70px;
                        margin-top: 50px;
                        position: relative;
                        border: 1px solid white;
                        transition: $time;
                        &::before {
                            content: '';
                            background-image: url('../img/right-white_2.png');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 10px;
                            height: 13px;
                            position: absolute;
                            top: 10px;
                            font-size: 20px;
                            font-weight: 300;
                            right: 9px;
                        }
                    }
                    .cover {
                        -webkit-transition: background-size 3000ms linear;
                        -moz-transition: background-size 3000ms linear;
                        -o-transition: background-size 3000ms linear;
                        -ms-transition: background-size 3000ms linear;
                        transition: background-size 3000ms linear;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        opacity: 1;
                        z-index: -1;
                        background: rgb(255, 255, 255);
                        background: linear-gradient(297deg, rgba(255, 255, 255, 0) 16%, rgba(255, 255, 255, 1) 66%);
                        &.alternate {
                            opacity: 0;
                            background: rgba(#ff9900, 1);
                            background: linear-gradient(244deg, rgba(#ff9900, 0) 16%, rgba(#ff9900, 1) 66%);
                        }
                    }
                    &.subcolumn-container {
                        padding: 0;
                        width: 60%;
                        box-sizing: border-box;
                        display: flex;
                        .subcolumn {
                            width: 50%;
                            padding: 40px 30px;
                            min-height: 350px;
                            position: relative;
                            background-size: cover;
                            .cover {
                                transition: $time;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                opacity: 1;
                                background: rgb(255, 255, 255);
                                background: linear-gradient(297deg, rgba(255, 255, 255, 0) 16%, rgba(255, 255, 255, 1) 66%);
                                &.alternate {
                                    opacity: 0;
                                    background: rgba(#ff9900, 1);
                                    background: linear-gradient(244deg, rgba(#ff9900, 0) 16%, rgba(#ff9900, 1) 66%);
                                }
                            }
                            &.alternate {
                                .title {
                                    position: relative;
                                    color: #ff9900;
                                }
                                .description {
                                    position: relative;
                                    color: #333333;
                                }
                                .vermas {
                                    position: relative;
                                    color: white;
                                    background-color: #ff9900;
                                    &:hover {
                                        color: #ff9900;
                                        background-color: #fff;
                                        &::before {
                                            background-image: url('../img/right-color_2.png');
                                        }
                                    }
                                }
                                .title,
                                .description,
                                .vermas {
                                    z-index: 10;
                                    position: relative;
                                    transition: all 0.3s;
                                }
                                .cover {
                                    transition: all 0.3s;
                                }
                                &:hover {
                                    .title,
                                    .description {
                                        color: white;
                                    }
                                    .cover {
                                        opacity: 0;
                                        &.alternate {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.alternate {
                        .title {
                            color: #ff9900;
                        }
                        .description {
                            color: #333333;
                        }
                        .vermas {
                            color: white;
                            background-color: #ff9900;
                            &:hover {
                                color: #ff9900;
                                background-color: #fff;
                                &::before {
                                    background-image: url('../img/right-color_2.png');
                                }
                            }
                        }
                        .title,
                        .description,
                        .vermas,
                        .cover {
                            transition: all 0.3s;
                        }
                        &:hover {
                            .title,
                            .description {
                                color: white;
                            }
                            .cover {
                                opacity: 0;
                                &.alternate {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .contact-container {
            display: flex;
            padding-top: 80px;
            padding-bottom: 80px;
            justify-content: center;
            flex-direction: row;
            background-color: transparent;
            .column {
                flex: 1 0 50%;
                min-height: 400px;
                background-color: #fff;
                width: 50%;
                .form {
                    padding: 50px 30px;
                    .title {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 25px;
                        color: $color-text;
                        margin-bottom: 20px;
                    }
                    .form-row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        .form-input {
                            width: 48%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            background-color: #f5f5f5;
                            .icon {
                                width: 15px;
                                height: 15px;
                                margin-left: 10px;
                                background-size: contain;
                                background-repeat: no-repeat;
                                &.person {
                                    background-image: url('../img/icon-person.png');
                                }
                                &.mail {
                                    background-image: url('../img/icon-mail.png');
                                }
                                &.phone {
                                    background-image: url('../img/icon-phone.png');
                                }
                            }
                            input {
                                padding: 5px;
                                height: 30px;
                                background-color: transparent;
                                border: none;
                                font-size: 15px;
                                font-weight: 300;
                                width: calc(100% - 25px);
                            }
                        }
                        textarea {
                            border: none;
                            background-color: #f5f5f5;
                            width: 100%;
                            padding: 10px 15px;
                            font-size: 15px;
                            font-weight: 300;
                        }
                        .privacy {
                            font-size: 12px;
                            color: #979797;
                        }
                        input[type="submit"] {
                            color: white;
                            border: none;
                            border-radius: 6px;
                            padding: 7px 30px;
                            font-size: 18px;
                            text-transform: uppercase;
                            margin: 0 auto;
                            background-color: $accent-color;
                            border: 1px solid $accent-color;
                            border-bottom: 1px solid $accent-alternate;
                            transition: $time;
                            cursor: pointer;
                            &:hover {
                                color: $accent-color;
                                background-color: #fff;
                            }
                        }
                    }
                }
                iframe {
                    height: 100%;
                }
            }
        }
    }
}