@import 'variables';
* {
    box-sizing: content-box;
}

html,
body {
    margin: 0;
    padding: 0;
    // scroll-behavior: smooth;
    font-family: 'Montserrat';
    font-weight: normal;
}

body {
    background-color: $body-bg-color;
}

a {
    text-decoration: none;
}

div.wpcf7 .ajax-loader {
    position: absolute;
    top: 30px;
    left: 0;
}

.wp-block {
    max-width: 1280px;
}

@media screen and (min-width: 320px) {
    .wpcf7-not-valid-tip,
    span.wpcf7-not-valid-tip {
        color: #f00;
        font-size: .7rem;
        font-weight: normal;
        position: absolute;
    }
}

@media screen and (min-width: 990px) {
    .wpcf7-not-valid-tip,
    span.wpcf7-not-valid-tip {
        color: #f00;
        font-size: .7rem;
        font-weight: normal;
        display: block;
        padding: 5px 0;
        position: absolute;
        top: 90%;
    }
}

.wrapper-content {
    padding: 2% 6%;
}

.wrapper-page-content {
    padding: 0 6%;
}

.banner {
    height: 630px;
    background-position: center;
    background-size: cover;
    position: relative;
    perspective: 2px;
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../img/banner-sombra.png");
        background-size: cover;
    }
    .banner-tit {
        color: white;
        padding-top: 160px;
        font-size: 38px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        position: relative;
        z-index: 2;
    }
}

.banner-blog {
    height: 100vh;
    max-height: 455px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-tit {
        color: white;
        font-size: 38px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
}

@media screen and (min-width: 320px) {
    .product-container .sliders-container .slider-tabs-content .tab,
    .blog {
        .pagination-container {
            width: 100%;
            height: auto;
            display: block;
            margin: 15px 0;
            padding: 10px 0;
            position: relative;
            .button-container {
                text-align: center;
                .item {
                    padding: 5px 20px;
                    color: white;
                    font-size: 15px;
                    margin: 0 5px;
                    background-color: $accent-color;
                    text-transform: uppercase;
                    position: relative;
                    border: 1px solid $accent-color;
                    &.current {
                        background-color: #fff;
                        color: $accent-color;
                    }
                    &,
                    &:before {
                        transition: $time;
                    }
                    &:hover {
                        box-shadow: none;
                        background-color: #fff;
                        color: $accent-color;
                    }
                    &.next {
                        padding-right: 25px;
                        &:hover {
                            &:before {
                                background-image: url('../img/right-color.png');
                            }
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            background-image: url('../img/right-white.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            right: 4px;
                            top: 4px;
                        }
                    }
                    &.prev {
                        padding-left: 25px;
                        &:hover {
                            &:before {
                                background-image: url('../img/left-color.png');
                            }
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            background-image: url('../img/left-white.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            left: 4px;
                            top: 4px;
                        }
                    }
                }
            }
            .pagination {
                margin: 15px auto;
                width: 300px;
                height: 30px;
                top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                .page-button-container {
                    display: flex;
                    width: auto;
                    height: 30px;
                    justify-content: flex-end;
                    .button {
                        display: inline-block;
                        position: relative;
                        width: 20px;
                        height: 20px;
                        margin: 0 4px;
                        background-color: $accent-color;
                        background-size: 55%;
                        background-position: center;
                        background-repeat: no-repeat;
                        padding: 3px;
                        cursor: pointer;
                        transition: $time;
                        border: 1px solid $accent-color;
                        &:hover {
                            background-color: #fff;
                        }
                        &.prev {
                            background-image: url('../img/left-white.png');
                            &:hover {
                                background-image: url('../img/left-color.png');
                            }
                        }
                        &.next {
                            background-image: url('../img/right-white.png');
                            &:hover {
                                background-image: url('../img/right-color.png');
                            }
                        }
                    }
                    .numbered {
                        width: 40px;
                        height: 26px;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #999999;
                        background-color: #fff;
                        color: #999999;
                    }
                }
                .total-number {
                    color: #999999;
                    font-size: 12px;
                    margin: 0px 4px;
                    span {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .wrapper-content {
        .rpwe-block {
            ul {
                list-style: none !important;
                margin-left: 0 !important;
                padding-left: 0 !important;
            }
            li {
                border-bottom: 1px solid #eee;
                margin-bottom: 10px;
                padding-bottom: 10px;
                list-style-type: none;
            }
            a {
                display: inline !important;
                text-decoration: none;
                color: #ff9900;
                transition: $time;
                &:hover {
                    color: $accent-alternate;
                }
            }
            h3 {
                background: none !important;
                clear: none;
                margin-bottom: 0 !important;
                margin-top: 0 !important;
                font-weight: 900;
                font-size: 18px;
                line-height: 1.6em;
                color: #ff9900;
                transition: $time;
                &:hover {
                    color: $accent-alternate;
                }
            }
        }
        .rpwe-thumb {
            border: 1px solid #eee !important;
            box-shadow: none !important;
            margin: 2px 10px 2px 0;
            padding: 3px !important;
        }
        .rpwe-summary {
            font-size: 12px;
        }
        .rpwe-time {
            color: #bbb;
            font-size: 11px;
        }
        .rpwe-comment {
            color: #bbb;
            font-size: 11px;
            padding-left: 5px;
        }
        .rpwe-alignleft {
            display: inline;
            float: left;
        }
        .rpwe-alignright {
            display: inline;
            float: right;
        }
        .rpwe-aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .rpwe-clearfix:before,
        .rpwe-clearfix:after {
            content: "";
            display: table !important;
        }
        .rpwe-clearfix:after {
            clear: both;
        }
        .rpwe-clearfix {
            zoom: 1;
        }
        &.blog {
            background-color: #fff;
            .post {
                margin: 40px 0;
                margin-bottom: 50px;
                .column {
                    &:first-child {
                        text-align: center;
                    }
                    img {
                        width: 100%;
                        height: auto;
                        max-width: 500px;
                    }
                    .content {
                        .post-title {
                            font-size: 20px;
                            font-weight: bold;
                            margin-top: 10px;
                            color: $accent-color;
                        }
                        .desc {
                            padding: 10px 0;
                            margin-bottom: 0px;
                            color: #909090;
                        }
                        .leermas {
                            border: 1px solid $accent-color;
                            padding: 8px 0px;
                            border-radius: 18px;
                            text-transform: capitalize;
                            background-color: $accent-color;
                            font-size: 12px;
                            text-align: center;
                            color: #fff;
                            width: 100%;
                            transition: $time;
                        }
                    }
                }
            }
        }
        .single-blogpost-container {
            .column {
                .top-title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .date-circle {
                        width: 45px;
                        height: 45px;
                        padding: 15px;
                        background-color: #ececec;
                        border-radius: 40px;
                        font-weight: bold;
                        margin: 10px 0;
                        margin-right: 20px;
                        .day {
                            color: #555555;
                            font-size: 28px;
                            line-height: 28px;
                            text-align: center;
                        }
                        .month {
                            color: #555555;
                            font-size: 18px;
                            line-height: 18px;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                    .title {
                        color: $accent-color;
                        font-weight: bold;
                        width: 600px;
                        font-size: 18px;
                        line-height: 20px;
                    }
                }
                .post-content {
                    margin: 20px 0;
                    .main-img {
                        img {
                            width: 100%;
                        }
                    }
                    .content {
                        color: #909090;
                        line-height: 26px;
                        font-size: 14px;
                    }
                }
                #post-sidebar {
                    margin-top: 75px;
                    .widget-title {
                        font-size: 16px;
                        color: #909090;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 990px) {
    .product-container .sliders-container .slider-tabs-content .tab,
    .blog {
        .pagination-container {
            width: 100%;
            height: 20px;
            display: block;
            margin: 15px 0;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .button-container {
                .item {
                    padding: 2px 10px;
                    color: white;
                    font-size: 12px;
                    background-color: $accent-color;
                    text-transform: uppercase;
                    position: relative;
                    border: 1px solid $accent-color;
                    &,
                    &:before {
                        transition: $time;
                    }
                    &:hover {
                        box-shadow: none;
                        background-color: #fff;
                        color: $accent-color;
                    }
                    &.next {
                        padding-right: 25px;
                        &:hover {
                            &:before {
                                background-image: url('../img/right-color.png');
                            }
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            background-image: url('../img/right-white.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            right: 4px;
                            top: 4px;
                        }
                    }
                    &.prev {
                        padding-left: 25px;
                        &:hover {
                            &:before {
                                background-image: url('../img/left-color.png');
                            }
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            background-image: url('../img/left-white.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            left: 4px;
                            top: 4px;
                        }
                    }
                }
            }
            .pagination {
                position: absolute;
                top: 0;
                right: 0;
                width: 300px;
                height: 20px;
                margin: 0;
                top: 10px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .page-button-container {
                    display: flex;
                    width: auto;
                    height: 20px;
                    justify-content: flex-end;
                    .button {
                        display: inline-block;
                        position: relative;
                        width: 12px;
                        height: 12px;
                        margin: 0 4px;
                        background-color: $accent-color;
                        background-size: 55%;
                        background-position: center;
                        background-repeat: no-repeat;
                        padding: 3px;
                        cursor: pointer;
                        transition: $time;
                        border: 1px solid $accent-color;
                        &:hover {
                            background-color: #fff;
                        }
                        &.prev {
                            background-image: url('../img/left-white.png');
                            &:hover {
                                background-image: url('../img/left-color.png');
                            }
                        }
                        &.next {
                            background-image: url('../img/right-white.png');
                            &:hover {
                                background-image: url('../img/right-color.png');
                            }
                        }
                    }
                    .numbered {
                        width: 40px;
                        height: 18px;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #999999;
                        background-color: #fff;
                        color: #999999;
                    }
                }
                .total-number {
                    color: #999999;
                    font-size: 12px;
                    margin: 0px 4px;
                    span {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .wrapper-content {
        .rpwe-block {
            ul {
                list-style: none !important;
                margin-left: 0 !important;
                padding-left: 0 !important;
            }
            li {
                border-bottom: 1px solid #eee;
                margin-bottom: 10px;
                padding-bottom: 10px;
                list-style-type: none;
            }
            a {
                display: inline !important;
                text-decoration: none;
                color: #ff9900;
            }
            h3 {
                background: none !important;
                clear: none;
                margin-bottom: 0 !important;
                margin-top: 0 !important;
                font-weight: 900;
                font-size: 12px !important;
                line-height: 1.6em;
                color: #ff9900;
            }
        }
        &.blog {
            background-color: #fff;
            .post {
                margin: 40px 0;
                margin-bottom: 50px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                .column {
                    width: 50%;
                    &:first-child {
                        text-align: center;
                    }
                    img {
                        width: 90%;
                        height: auto;
                        max-width: 500px;
                    }
                    .content {
                        .post-title {
                            font-size: 20px;
                            font-weight: bold;
                            color: $accent-color;
                            transition: $time;
                            &:hover {
                                color: $accent-alternate;
                            }
                        }
                        .desc {
                            padding: 20px 0;
                            margin-bottom: 20px;
                            color: #909090;
                        }
                        .leermas {
                            border: 1px solid #c2c2c2;
                            padding: 8px 10px;
                            border-radius: 18px;
                            text-transform: capitalize;
                            font-size: 12px;
                            text-align: center;
                            color: #c2c2c2;
                            width: 100px;
                            background-color: #fff;
                            transition: $time;
                            &:hover {
                                background-color: $accent-color;
                                border: 1px solid $accent-color;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .single-blogpost-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .column {
                &:first-child {
                    width: 65%;
                }
                &:last-child {
                    width: 35%;
                }
                .top-title {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .date-circle {
                        width: 45px;
                        height: 45px;
                        padding: 15px;
                        background-color: #ececec;
                        border-radius: 40px;
                        font-weight: bold;
                        margin: 10px 0;
                        margin-right: 20px;
                        .day {
                            color: #555555;
                            font-size: 28px;
                            line-height: 28px;
                            text-align: center;
                        }
                        .month {
                            color: #555555;
                            font-size: 18px;
                            line-height: 18px;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                    .title {
                        color: $accent-color;
                        font-weight: bold;
                        width: 600px;
                        font-size: 22px;
                        line-height: 32px;
                    }
                }
                .post-content {
                    margin: 20px 0;
                    .main-img {
                        img {
                            width: 100%;
                        }
                    }
                    .content {
                        color: #909090;
                        line-height: 26px;
                        font-size: 14px;
                    }
                }
                #post-sidebar {
                    margin-top: 75px;
                    padding-left: 40px;
                    .widget-title {
                        font-size: 16px;
                        color: #909090;
                    }
                }
            }
        }
    }
}