@import 'variables';
@keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(grey, 0.7);
        box-shadow: 0 0 0 0 rgba(grey, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 7px rgba(grey, 0);
        box-shadow: 0 0 0 7px rgba(grey, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(grey, 0);
        box-shadow: 0 0 0 0 rgba(grey, 0);
    }
}

@media screen and (min-width: 320px) {
    .product-container {
        padding: 3% 6%;
        .sliders-container {
            .slider-tabs {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                padding: 73px 0;
                padding-bottom: 50px;
                border-top: 1px solid #dcdcdc;
                position: relative;
                border-bottom: 1px solid #dcdcdc;
                .item {
                    flex: 0 0 20%;
                    text-align: center;
                    position: relative;
                    cursor: pointer;
                    img {
                        width: 80%;
                    }
                }
                .productos-carousel-tabs {
                    .item {
                        flex: 1 0 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 70%;
                            margin: 0 auto;
                        }
                        .blop {
                            // display: none;
                            background: #fff;
                            border-radius: 50%;
                            position: absolute;
                            bottom: 10%;
                            right: 10%;
                            height: 12px;
                            width: 12px;
                            -webkit-box-shadow: 0 0 0 0 grey;
                            box-shadow: 0 0 0 0 grey;
                            -webkit-transform: scale(1);
                            transform: scale(1);
                            -webkit-animation: pulse 2s infinite;
                            animation: pulse 2s infinite;
                        }
                    }
                    .owl-dots {
                        button {
                            span {
                                width: 40px;
                                height: 4px;
                                border-radius: 0;
                                margin: 2px 5px;
                            }
                        }
                    }
                }
            }
            .slider-tabs-content {
                .tab {
                    display: none;
                    justify-content: space-between;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 80px 0;
                    padding-top: 10px;
                    position: relative;
                    &.active {
                        display: flex;
                    }
                    .info {
                        width: 100%;
                        display: block;
                        padding: 20px 0;
                        padding-top: 0;
                        .tit {
                            display: none;
                        }
                        .desc {
                            color: #808080;
                        }
                    }
                    .item {
                        width: 49%;
                        transition: $time;
                        background-color: #fff;
                        margin: 10px 0;
                        cursor: pointer;
                        &:hover {
                            box-shadow: 3px 2px 4px 1px #acabab;
                            .img-container {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                        .img-container {
                            min-height: 200px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px;
                            -ms-transition: background-size 2s ease-in;
                            -o-transition: background-size 2s ease-in;
                            -webkit-transition: background-size 2s ease-in;
                            -moz-transition: background-size 2s ease-in;
                            transition: background-size 2s ease-in;
                            img {
                                transition: $time;
                                width: 80%;
                                max-width: 200px;
                            }
                        }
                        .text {
                            color: white;
                            padding: 10px 12px;
                            .title {
                                font-weight: bold;
                                color: #0467be;
                                font-size: 20px;
                                text-transform: uppercase;
                            }
                            .description {
                                display: none;
                            }
                        }
                    }
                    a {
                        margin-left: auto;
                        .ver-mas {
                            background-color: #ff9900;
                            color: white;
                            text-transform: uppercase;
                            padding: 2px 15px;
                            padding-right: 30px;
                            font-size: 14px;
                            font-weight: 300;
                            margin-top: 30px;
                            position: relative;
                            transition: $time;
                            border: 1px solid $accent-color;
                            &::before {
                                content: '';
                                position: absolute;
                                background-image: url('../img/right-white.png');
                                background-position: center left;
                                background-size: contain;
                                background-repeat: no-repeat;
                                position: absolute;
                                width: 12px;
                                height: 12px;
                                right: 5px;
                                top: 5.5px;
                                transition: $time;
                            }
                            &:hover {
                                background-color: #fff;
                                color: $accent-color;
                                &::before {
                                    background-image: url('../img/right-color.png');
                                }
                            }
                        }
                    }
                    .pagination-container {
                        width: 100%;
                        height: 20px;
                        display: block;
                        margin: 15px 0;
                        padding: 10px 0;
                        position: relative;
                        .button-container {
                            text-align: center;
                            .item {
                                padding: 5px 20px;
                                color: white;
                                font-size: 15px;
                                margin: 0 5px;
                                background-color: $accent-color;
                                text-transform: uppercase;
                                position: relative;
                                border: 1px solid $accent-color;
                                &.current {
                                    background-color: #fff;
                                    color: $accent-color;
                                }
                                &,
                                &:before {
                                    transition: $time;
                                }
                                &:hover {
                                    box-shadow: none;
                                    background-color: #fff;
                                    color: $accent-color;
                                }
                                &.next {
                                    padding-right: 25px;
                                    &:hover {
                                        &:before {
                                            background-image: url('../img/right-color.png');
                                        }
                                    }
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        width: 12px;
                                        height: 12px;
                                        background-image: url('../img/right-white.png');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        right: 4px;
                                        top: 4px;
                                    }
                                }
                                &.prev {
                                    padding-left: 25px;
                                    &:hover {
                                        &:before {
                                            background-image: url('../img/left-color.png');
                                        }
                                    }
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        width: 12px;
                                        height: 12px;
                                        background-image: url('../img/left-white.png');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        left: 4px;
                                        top: 4px;
                                    }
                                }
                            }
                        }
                        .pagination {
                            margin: 15px auto;
                            width: 300px;
                            height: 30px;
                            top: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .page-button-container {
                                display: flex;
                                width: auto;
                                height: 30px;
                                justify-content: flex-end;
                                .button {
                                    display: inline-block;
                                    position: relative;
                                    width: 20px;
                                    height: 20px;
                                    margin: 0 4px;
                                    background-color: $accent-color;
                                    background-size: 55%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    padding: 3px;
                                    cursor: pointer;
                                    transition: $time;
                                    border: 1px solid $accent-color;
                                    &:hover {
                                        background-color: #fff;
                                    }
                                    &.prev {
                                        background-image: url('../img/left-white.png');
                                        &:hover {
                                            background-image: url('../img/left-color.png');
                                        }
                                    }
                                    &.next {
                                        background-image: url('../img/right-white.png');
                                        &:hover {
                                            background-image: url('../img/right-color.png');
                                        }
                                    }
                                }
                                .numbered {
                                    width: 40px;
                                    height: 26px;
                                    border-radius: 4px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid #999999;
                                    background-color: #fff;
                                    color: #999999;
                                }
                            }
                            .total-number {
                                color: #999999;
                                font-size: 12px;
                                margin: 0px 4px;
                                span {
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 880px) {
    .product-container {
        padding: 3% 6%;
        .sliders-container {
            .slider-tabs {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                padding: 73px 0;
                border-top: 1px solid #dcdcdc;
                position: relative;
                border-bottom: 1px solid #dcdcdc;
                .active-bar {
                    position: absolute;
                    left: 0;
                    bottom: -6px;
                    background-color: #ff9900;
                    height: 5px;
                    width: 20%;
                }
                .item {
                    flex: 0 0 20%;
                    text-align: center;
                    position: relative;
                    cursor: pointer;
                    img {
                        width: 80%;
                    }
                    .blop {
                        display: none;
                    }
                }
            }
            .slider-tabs-content {
                .tab {
                    justify-content: space-between;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 80px 0;
                    padding-top: 10px;
                    position: relative;
                    .info {
                        width: 100%;
                        display: block;
                        padding: 20px 0;
                        padding-top: 0;
                        .tit {
                            color: #0467be;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 40px;
                            text-align: center;
                            display: block;
                        }
                        .desc {
                            color: #808080;
                        }
                    }
                    .item {
                        width: 24%;
                        transition: $time;
                        background-color: #fff;
                        margin: 10px 0;
                        cursor: pointer;
                        &:hover {
                            box-shadow: 3px 2px 4px 1px #acabab;
                            .img-container {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                        .img-container {
                            // background-image: url('../img/tab-bg.jpg');
                            min-height: 200px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 20px 10px;
                            -ms-transition: background-size 2s ease-in;
                            -o-transition: background-size 2s ease-in;
                            -webkit-transition: background-size 2s ease-in;
                            -moz-transition: background-size 2s ease-in;
                            transition: background-size 2s ease-in;
                            img {
                                transition: $time;
                                width: 80%;
                                max-width: 200px;
                            }
                        }
                        .text {
                            color: white;
                            padding: 20px 12px 15px 12px;
                            .title {
                                font-weight: bold;
                                color: #0467be;
                                font-size: 20px;
                                text-transform: uppercase;
                            }
                            .description {
                                font-weight: 400;
                                font-size: 14px;
                                text-align: left;
                                color: #b4b4b4;
                                display: block;
                            }
                        }
                    }
                    a {
                        margin-left: auto;
                        .ver-mas {
                            background-color: #ff9900;
                            color: white;
                            text-transform: uppercase;
                            padding: 2px 15px;
                            padding-right: 30px;
                            font-size: 14px;
                            font-weight: 300;
                            margin-top: 30px;
                            position: relative;
                            transition: $time;
                            border: 1px solid $accent-color;
                            &::before {
                                content: '';
                                position: absolute;
                                background-image: url('../img/right-white.png');
                                background-position: center left;
                                background-size: contain;
                                background-repeat: no-repeat;
                                position: absolute;
                                width: 12px;
                                height: 12px;
                                right: 5px;
                                top: 5.5px;
                                transition: $time;
                            }
                            &:hover {
                                background-color: #fff;
                                color: $accent-color;
                                &::before {
                                    background-image: url('../img/right-color.png');
                                }
                            }
                        }
                    }
                    .pagination-container {
                        width: 100%;
                        height: 20px;
                        display: block;
                        margin: 15px 0;
                        padding: 10px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        .button-container {
                            .item {
                                padding: 2px 10px;
                                color: white;
                                font-size: 12px;
                                background-color: $accent-color;
                                text-transform: uppercase;
                                position: relative;
                                border: 1px solid $accent-color;
                                &,
                                &:before {
                                    transition: $time;
                                }
                                &:hover {
                                    box-shadow: none;
                                    background-color: #fff;
                                    color: $accent-color;
                                }
                                &.next {
                                    padding-right: 25px;
                                    &:hover {
                                        &:before {
                                            background-image: url('../img/right-color.png');
                                        }
                                    }
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        width: 12px;
                                        height: 12px;
                                        background-image: url('../img/right-white.png');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        right: 4px;
                                        top: 4px;
                                    }
                                }
                                &.prev {
                                    padding-left: 25px;
                                    &:hover {
                                        &:before {
                                            background-image: url('../img/left-color.png');
                                        }
                                    }
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        width: 12px;
                                        height: 12px;
                                        background-image: url('../img/left-white.png');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        left: 4px;
                                        top: 4px;
                                    }
                                }
                            }
                        }
                        .pagination {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 300px;
                            height: 20px;
                            margin: 0;
                            ;
                            top: 10px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            .page-button-container {
                                display: flex;
                                width: auto;
                                height: 20px;
                                justify-content: flex-end;
                                .button {
                                    display: inline-block;
                                    position: relative;
                                    width: 12px;
                                    height: 12px;
                                    margin: 0 4px;
                                    background-color: $accent-color;
                                    background-size: 55%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    padding: 3px;
                                    cursor: pointer;
                                    transition: $time;
                                    border: 1px solid $accent-color;
                                    &:hover {
                                        background-color: #fff;
                                    }
                                    &.prev {
                                        background-image: url('../img/left-white.png');
                                        &:hover {
                                            background-image: url('../img/left-color.png');
                                        }
                                    }
                                    &.next {
                                        background-image: url('../img/right-white.png');
                                        &:hover {
                                            background-image: url('../img/right-color.png');
                                        }
                                    }
                                }
                                .numbered {
                                    width: 40px;
                                    height: 18px;
                                    border-radius: 4px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid #999999;
                                    background-color: #fff;
                                    color: #999999;
                                }
                            }
                            .total-number {
                                color: #999999;
                                font-size: 12px;
                                margin: 0px 4px;
                                span {
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}