.contenedor-general-productos {
    background: #edf1f4;
    .sliders-container {
        .slider-tabs-content {
            .tab {
                padding-top: 20px;
                .item {
                    width: 22.5%;
                    box-shadow: none;
                    background: white;
                    margin: 20px 0;
                    .img-container {
                        height: 215px;
                        background: none;
                        img {
                            width: 60%;
                        }
                    }
                    .text {
                        background-color: transparent;
                        .title {
                            color: #0367be;
                            font-size: 22px;
                            font-weight: 600;
                            margin-bottom: 5px;
                        }
                        .description {
                            color: #999999;
                            font-size: 10px;
                            line-height: 12px;
                            font-weight: 100;
                        }
                    }
                }
                .info {
                    width: 100%;
                    p.tit {
                        color: #0367be;
                        font-size: 32px;
                        font-weight: 600;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 0;
                        margin-bottom: 15px;
                    }
                    p.desc {
                        color: #999999;
                        font-size: 15px;
                        font-weight: 100;
                        margin: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}